/* Basic Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
    display: flex;
    /* display: block; */
    flex-direction: column;
    justify-content:space-between;
    min-height: 100vh;
}
main{
    flex-grow: 1;
}
img{
    height: 150px;
    width: 150px;
    margin-right: 5px;
    border-radius: 50%;
}
footer{
    text-align: right;
}
header{
    justify-content: space-between;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
}
.company_info{
    flex-grow: 1;
}

.container{   
    display: flex;    
}
article > div{
    margin-top: 20px;
    height: fit-content;
    padding: 20px;
    border: solid black;
    text-align: center;
}
.customer_info{
    margin-top: 0px;
    flex-grow: 4;
    text-align: left;
    border: solid white

}
table{ 
    width: 100%;
    text-align: center;
}
.Summary{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.Total{
    text-align: center;
}
