/* Basic Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    padding: 0;
    display: grid;
    grid-template-rows: 0.5fr 2fr 0.1fr;
    grid-template-columns: 100%;
}

/* Header part style */
header{
    display: grid;
    grid-template-columns: 10rem 1fr 1fr;
    padding: 2px;
}
img{
    height: 150px;
    width: 150px;
    margin-right: 5px;
    border-radius: 50%;
}
.invoice{
    text-align: right;
}

/* Main part style */
main{
    display: grid;
}
.container{
    margin-right: 10px;   
    display: grid;  
    grid-template-columns: 5fr 1fr 1fr 1fr;  
}
article > div{
    margin-top: 20px;
    height: fit-content;
    padding: 20px;
    border: solid black;
    text-align: center;
}
.customer_info{
    padding: 0px;
    margin: 0px;
    text-align: left;
    border: 1px solid white;
}
table{ 
    margin-top: 30px;
    width: 100%;
    text-align: center;
}
tr{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.Summary{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
}
.Total{
    text-align: right;
}
footer{
    margin-top: 80px;
    text-align: right;
}
