/* Basic Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    min-height: 100vh;
}
main{
    flex-grow: 1;
}

/* setting image's size and shape */
img{
    height: 150px;
    width: 150px;
    margin-right: 5px;
    border-radius: 50%;
}
footer{
    text-align: right;
}
/* setting header as a flexbox */
header{
    justify-content: space-between;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
}
.company_info{
    flex-grow: 1;
}

/* setting a container for customer's info and issue date details */
.container{   
    display: flex;    
}
article > div{
    margin-top: 20px;
    height: fit-content;
    padding: 20px;
    border: solid black;
    text-align: center;
}
.customer_info{
    margin-top: 0px;
    flex-grow: 4;
    text-align: left;
    padding: 0px;
    border: solid white
}

/* table section about billing product info */
table{ 
    margin-top: 30px;
    width: 100%;
    text-align: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}

/* style the payment type and total amount */
.summary{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.total{
    text-align: right;
}
